﻿@model WebProje.Areas.Admin.Models.DTO.BlogPostVM

        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Başlık" })
                @Html.ValidationMessageFor(x => x.Title)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.PostImage)
                <input type="file" multiple name="PostImage" accept="image/gif, image/jpeg, image/png"/>
            </div>

            <div class="form-group">
                <label>Kategori</label>
                @Html.DropDownList("CategoryID", Model.drpCategories, new { @class="form-control"})
            </div>



            <div class="form-group">
                <label>İçerik</label>
                @Html.TextAreaFor(x => x.Content, new { @class="ckeditor"})
                @*<textarea class="ckeditor" name="Content" id="ckeditor"></textarea>*@
            </div>

        </div>
                    <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Gönder</button>
        </div>



