﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<WebProje.Models.VM.SiteBlogPostVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Blog listing: Medium</h1>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>Blog listing: Medium</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">
            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->

            <div class="col-md-9" id="blog-listing-medium">
                @foreach (var item in Model)
                {
                    <section class="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="image" style="height: 197px;">
                                    <a href="blog-post.html">
                                        <img src="~/Areas/Admin/Content/Site/images/blogpost/@item.PostImagePath" class="img-responsive" alt="Example blog post alt">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="/SiteBlog/Index/@item.BlogPostID">@item.Title</a></h2>
                                <div class="clearfix">
                                    <p class="author-category">
                                        By <a href="#">John Snow</a> in <a href="/SiteHome/ByCategory/@item.CategoryID">@item.Category</a>
                                    </p>
                                    <p class="date-comments">
                                        <i class="fa fa-calendar-o"></i> @item.AddDate
                                        <a href="blog-post.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                                    </p>
                                </div>
                                <p class="intro">
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                </p>
                                <p class="read-more">
                                    <a href="/SiteBlog/Index/@item.BlogPostID" class="btn btn-template-main">Devamı</a>
                                </p>
                            </div>
                        </div>
                    </section>
                }
                
                @*<ul class="pager">
                    <li class="previous">
                        <a href="#">← Older</a>
                    </li>
                    <li class="next disabled">
                        <a href="#">Newer →</a>
                    </li>
                </ul>*@
                <div class="row">
                    <div class="col-md-8 text-center">
                        <div class="pagedList pagination">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
                        </div>
                    </div>
                </div>




            </div>
            <!-- /.col-md-9 -->
            <!-- *** LEFT COLUMN END *** -->
            <!-- *** RIGHT COLUMN ***
            _________________________________________________________ -->

            <div class="col-md-3">

                <!-- *** MENUS AND WIDGETS ***
                _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Text widget</h3>
                    </div>

                    <div class="panel-body text-widget">
                        <p>
                            Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage mr be. Hold do at tore in park feet near my case.
                        </p>

                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Search</h3>
                    </div>

                    <div class="panel-body">
                        <form role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">

                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">
                    @{
                        Html.RenderAction("KategoriPartial", "SiteHome");
                    }
                </div>

                <div class="panel sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tags</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="tag-cloud">
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> html5</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> css3</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> jquery</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> ajax</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> php</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> responsive</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> visio</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> bootstrap</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- *** MENUS AND FILTERS END *** -->

            </div>
            <!-- /.col-md-3 -->
            <!-- *** RIGHT COLUMN END *** -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>

