﻿@model List<WebProje.Areas.Admin.Models.DTO.CategoryVM>

<div class="panel-heading">
    <h3 class="panel-title">Kategoriler</h3>
</div>


<div class="panel-body">
    
    
    <ul class="nav nav-pills nav-stacked">
        @foreach (var item in Model)
        {
            <li>
                <a href="/SiteHome/ByCategory/@item.ID">@item.Name</a>
            </li>
        }

    </ul>
</div>