﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Universal - All In 1 Template</title>

    <meta name="keywords" content="">

    @Styles.Render("~/Content/css")

    <!-- Responsivity for older IE -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and apple touch icons-->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Content/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/img/apple-touch-icon-152x152.png" />

    <!-- owl carousel css -->
    @Styles.Render("~/Content/owlcss")
</head>

<body>
    <div id="all">
        @Html.Partial("Partial/HeaderPartial")
    

        @RenderBody()
        

        @Html.Partial("Partial/FooterPartial")

    </div><!-- /#all -->
    <!-- #### JAVASCRIPT FILES ### -->

    @Scripts.Render("~/bundles/jquery")
    @*<script>
        window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')
    </script>*@
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/others")
</body>
</html>