﻿
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model WebProje.Areas.Admin.Models.DTO.CategoryVM


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Kategori Ekleme Menüsü
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="row">
        <!-- left column -->
        <div class="col-md-9">
           
            @Html.Partial("/Areas/Admin/Views/Shared/Partial/FormMessagesPartial.cshtml")

            @Html.Partial("Partial/CategoryForm")
            <!-- general form elements -->
            
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>

