﻿
@{
    ViewBag.Title = "AddSiteMenuwithJSON";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}



<section class="content-header">
    <h1>
        Menü Ekleme
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-body">
                   
                        <div class="form-group">
                            <label>Ad</label>
                            <input type="text" class="form-control" id="name" required />
                        </div>
                        <div class="form-group">
                            <label>Url</label>
                            <input type="text" class="form-control" id="url" required />
                        </div>
                        <div class="form-group">
                            <label>Css Class</label>
                            <input type="text" class="form-control" id="cssClass" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary"> Ekle</button>
                        </div>

                   
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $("button").click(function () {
        var sitemenu = new Object();
        sitemenu.Name = $("#name").val();
        sitemenu.Url = $("#url").val();
        sitemenu.cssClass = $("#cssClass").val();

        $.ajax({
            url: "/Admin/SiteMenu/AddSiteMenuJSON/",
            data: sitemenu,
            type: "POST",
            success: function () {
                alert("Site menüsü başarıyla eklendi.");
            }
        })
    })
</script>


