﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@model WebProje.Models.VM.SiteBlogPostVM
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>@Model.Title</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li>
                        <a href="~/Views/SiteHome/Index.cshtml">Anasayfa</a>
                    </li>
                    <li>
                        <a href="blog.html">@Model.Category</a>
                    </li>
                    <li>Blog post</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">

            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->

            <div class="col-md-9" id="blog-post">


                <p class="text-muted text-uppercase mb-small text-right">By <a href="#">John Slim</a> | June 20, 2013</p>
                <p class="lead">This is the lead paragraph of the article. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>

                <div id="post-content">
                    <p>
                        <img src="~/Areas/Admin/Content/Site/images/blogpost/@Model.PostImagePath" class="img-responsive" alt="Example blog post alt">
                    </p>

                    @Html.Raw(Model.Content)

                </div>
                <!-- /#post-content -->

                <div id="comments">
                    <h4 class="text-uppercase">2 comments</h4>


                    <div class="row comment">
                        <div class="col-sm-3 col-md-2 text-center-xs">
                            <p>
                                <img src="/Content/img/blog-avatar2.jpg" class="img-responsive img-circle" alt="">
                            </p>
                        </div>
                        <div class="col-sm-9 col-md-10">
                            <h5 class="text-uppercase">Julie Alma</h5>
                            <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2011 at 12:00 am</p>
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                            </p>
                            <p class="reply">
                                <a href="#"><i class="fa fa-reply"></i> Reply</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.comment -->


                    <div class="row comment last">

                        <div class="col-sm-3 col-md-2 text-center-xs">
                            <p>
                                <img src="Content/img/blog-avatar.jpg" class="img-responsive img-circle" alt="">
                            </p>
                        </div>

                        <div class="col-sm-9 col-md-10">
                            <h5 class="text-uppercase">Louise Armero</h5>
                            <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2012 at 12:00 am</p>
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                            </p>
                            <p class="reply">
                                <a href="#"><i class="fa fa-reply"></i> Reply</a>
                            </p>
                        </div>

                    </div>
                    <!-- /.comment -->
                </div>
                <!-- /#comments -->


                <div id="comment-form">

                    <h4 class="text-uppercase">Leave comment</h4>
                    @using (Html.BeginForm("AddComment", "SiteBlog", FormMethod.Post))
                    {
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">
                                        İsim <span class="required">*</span>
                                    </label>
                                    <input type="hidden" name="BlogPostID" value="@Model.BlogPostID" />
                                    <input type="text" class="form-control" id="name" name="Name">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">
                                        Email <span class="required">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="email" name="EMail">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="comment">
                                        Comment <span class="required">*</span>
                                    </label>
                                    <textarea class="form-control" id="comment" rows="4" name="Content"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <input  type="submit" class="btn btn-template-main" value="Gönder"/>
                            </div>
                        </div>
                    }

                </div>
                <!-- /#comment-form -->


            </div>
            <!-- /#blog-post -->
            <!-- *** LEFT COLUMN END *** -->
            <!-- *** RIGHT COLUMN ***
            _________________________________________________________ -->

            <div class="col-md-3">

                <!-- *** MENUS AND WIDGETS ***
                _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Text widget</h3>
                    </div>

                    <div class="panel-body text-widget">
                        <p>
                            Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage mr be. Hold do at tore in park feet near my case.
                        </p>

                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Search</h3>
                    </div>

                    <div class="panel-body">
                        <form role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">

                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">

                    @{
                        Html.RenderAction("KategoriPartial", "SiteHome");
                    }
                </div>

                <div class="panel sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tags</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="tag-cloud">
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> html5</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> css3</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> jquery</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> ajax</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> php</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> responsive</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> visio</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> bootstrap</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- *** MENUS AND FILTERS END *** -->

            </div>
            <!-- /.col-md-3 -->
            <!-- *** RIGHT COLUMN END *** -->


        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->

