﻿<!-- *** FOOTER ***
   _________________________________________________________ -->

<footer id="footer">
    <div class="container">

        <!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">

            <h4><u>Kategoriler</u></h4>

            <div class="blog-entries">
                <div class="item same-height-row clearfix">

                    <div class="name same-height-always">
                        <h5><a href="#">Oyun</a></h5>
                    </div>
                </div>

                <div class="item same-height-row clearfix">

                    <div class="name same-height-always">
                        <h5><a href="#">Bilim/Teknoloji</a></h5>
                    </div>
                </div>

                <div class="item same-height-row clearfix">

                    <div class="name same-height-always">
                        <h5><a href="#">Eğlence</a></h5>
                    </div>
                </div>
            </div>

            <hr class="hidden-md hidden-lg">

        </div>
        <!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">

            <h4><u>Contact</u></h4>

            <div class="blog-entries">
                <div class="item same-height-row clearfix">

                    <div class="name same-height-always">
                        <h5><a href="#">Hakkımızda</a></h5>
                    </div>
                </div>

                <div class="item same-height-row clearfix">

                    <div class="name same-height-always">
                        <h5><a href="#">Takım</a></h5>
                    </div>
                </div>

                <div class="item same-height-row clearfix">

                    <div class="name same-height-always">
                        <h5><a href="#">İletişim</a></h5>
                    </div>
                </div>
            </div>

            <hr class="hidden-md hidden-lg">

        </div>
        <!-- /.col-md-3 -->
        <!-- /.col-md-3 -->
    </div>
    <!-- /.container -->
</footer>
<!-- /#footer -->
<!-- *** FOOTER END *** -->
<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            <p class="pull-left">&copy; 2015. Your company / name goes here</p>
            <p class="pull-right">
                Template by <a href="https://bootstrapious.com">Bootstrapious</a> & <a href="https://fity.cz">Fity.cz</a>
                <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
            </p>

        </div>
    </div>
</div>
<!-- /#copyright -->
<!-- *** COPYRIGHT END *** -->
